<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <%- include('./partials/head') %>
</head>

<style>
    body {
        background-image: url('/assets/eachBlog.png');
    }

    .main {
        margin: 120px;
    }

    .blog-title {
        font-family: 'Playfair Display', serif;
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    .comment-div {
        margin: 120px;

    }

    .comment-form {
        display: flex;
        justify-content: start;
        gap: 10px;
        align-items: center;
    }

    .my-form {
        display: flex;
        gap: 10px;
    }

    .bttn {
        padding: 0px 10px;
        height: auto;
        font-size: 14px;
        line-height: 1;
    }
</style>

<body>
    <%- include('./partials/script') %>
        <%- include('./partials/nav') %>

            <div class="main">

                <div class="blog-title">
                    <%= blog.title %>
                </div>

                <img src="<%= blog.coverImage %>" width="750px" class="mb-5 mt-5">

                <div class="p-2 mb-2">
                    <img src="<%= blog.createdBy.profilePicture %>" width="45px">
                    <%= blog.createdBy.fullName %>
                </div>
                <p class="pt-3">
                    <%= blog.body %>
                </p>
            </div>

            <div class="comment-div ">
                <h2>Comments (<%= comments.length %>)</h2>

                <div class="comment-form mt-3">
                    <% if (locals.user) { %>
                        <form action="/blog/comment/<%= blog._id %>" method="post">

                            <div class="my-form">
                                <div class="">
                                    <input type="text" name="content" class="form-control"
                                        placeholder="Enter your Comment" required>
                                </div>
                                <button class="btn btn-primary" type="submit">Add</button>
                            </div>

                        </form>
                        <% } %>
                </div>


                <div class="mt-5">
                    <% comments.forEach(comment=> { %>
                        <div class="mb-4">
                            <div>
                                <img src="<%= comment.createdBy.profilePicture %>" alt="" width="30px">
                                <%= comment.createdBy.fullName %>
                            </div>
                            <div>
                                <%= comment.content %>
                            </div>
                        </div>
                        <% }) %>
                </div>


            </div>
</body>

</html>